h2{
    font-size: 20;
}

section{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
}

#drLeft{
    padding-top: 0;
}
#login{
    width:400px;
    margin:0 auto;
    margin-top:0px;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
}
#login h1{
    background:#3399cc;
    font-size:100%;
    font-weight:300;
    text-align:center;
    color:#fff;
}
#triangle{
    width:0;
    border-top:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #3399cc;
    border-left:10px solid transparent;
    margin:0 auto;
}

input[type="text"],input[type="password"]{
    width:92%;
    background:#fff;
    margin-bottom:2%;
    border:1px solid #ccc;
    padding:2%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

input[type="submit"]{
    width:50%;
    background:#3399cc;
    border:0;
    padding:2%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

input[type="submit"]:hover{
    background:#2288bb;
}